


<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="control1">Field 1</label>
    <input class="form-control" id="control1" formControlName="control1"/>
  </div>
  <div class="form-group">
    <label for="control1">Field 2</label>
    <input class="form-control" id="control2" formControlName="control2"/>
  </div>
  <div class="form-group">
    <label for="control1">Field 3</label>
    <input class="form-control" id="control3" formControlName="control3"/>
  </div>
  <div class="form-group">
    <label for="control1">Field 4</label>
    <input class="form-control" id="control4" formControlName="control4"/>
  </div>
  <div class="form-group">
    <label for="control1">Field 5</label>
    <input class="form-control" id="control5" formControlName="control5"/>
  </div>





  <button type="submit" class="btn btn-primary">Submit</button>


</form>
